{% extends 'base.html.twig' %}

{% block title %}Services - Maternia{% endblock %}

{% block body %}
    <div class="container-fluid py-5 hero-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7 col-md-12">
                    <h1 class="mb-3 text-primary">Nos services</h1>
                    <h1 class="mb-5 display-1 text-white">Tout pour un suivi serein</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="py-5 bg-light wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-md-4">
                    <h5>Rendez-vous</h5>
                    <p>Planifiez et visualisez vos rendez-vous médicaux facilement.</p>
                </div>
                <div class="col-md-4">
                    <h5>Suivi médical</h5>
                    <p>Conservez l’historique de vos examens, résultats et consultations.</p>
                </div>
                <div class="col-md-4">
                    <h5>Rappels et notifications</h5>
                    <p>Recevez des rappels pour ne manquer aucun rendez-vous important.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

