<form method="post"
      action="{{ path('app_offre_baby_sitter_delete', {'id': offre_baby_sitter.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette offre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre_baby_sitter.id) }}">
    <button class="btn btn-danger w-100 text-white">
        <i class="bi bi-trash me-1"></i>{{ button_label|default('Supprimer') }}
    </button>
</form>
