{% extends 'base.html.twig' %}

{% block title %}New Maman{% endblock %}

{% block body %}
    <h1>Create new Maman</h1>

    {{ include('maman/_form.html.twig') }}

    <a href="{{ path('app_maman_index') }}">back to list</a>
{% endblock %}
